
<div class="card">
  <img class="card-img-top img-fluid" src="@($"img/{Name.ToLower()}.jpg")" alt="@Name">
  <div class="card-body">
    <h5 class="card-title">@Name</h5>
    <p class="card-text">Item Count: @Count</p>
  </div>
</div>